<ng-container *ngIf="loading">
  <app-spinner full="true"></app-spinner>
</ng-container>
<div class="card" *ngIf="book">
  <div class="card-body">
    <form #bookForm="ngForm" (ngSubmit)="saveBook(bookForm)">
      <div class="form-group">
        <label>Title</label>
        <input
          type="text"
          name="title"
          [(ngModel)]="book.title"
          #title="ngModel"
          class="form-control"
          required
          minlength="5"
          [ngClass]="{ 'is-invalid': title.invalid && saveClicked }"
        />
        <div
          class="invalid-feedback"
          style="display: block"
          *ngIf="title.errors && (title.touched || title.dirty || saveClicked)"
        >
          <span *ngIf="title.errors.required">
            Book Name is required
          </span>
          <span *ngIf="title.errors.minlength">
            Book Name shall be minimum 5 Chars
          </span>
        </div>
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea
          name="description"
          [(ngModel)]="book.description"
          #description="ngModel"
          class="form-control"
          rows="3"
        ></textarea>
      </div>
      <div class="form-group">
        <label>Price</label>
        <input
          type="text"
          name="price"
          [(ngModel)]="book.price"
          #price="ngModel"
          class="form-control"
          required
          pattern="[1-9][0-9]*"
          [ngClass]="{ 'is-invalid': price.invalid && saveClicked }"
        />
        <div class="invalid-feedback" *ngIf="price.errors">
          <span *ngIf="price.errors.required">
            Price is required
          </span>
          <span *ngIf="price.errors.pattern">
            Price is Invalid
          </span>
        </div>
      </div>
      <div class="form-group">
        <label>Pages</label>
        <input
          type="text"
          name="pages"
          [(ngModel)]="book.pages"
          #pages="ngModel"
          class="form-control"
          required
          pattern="[1-9][0-9]*"
          [ngClass]="{ 'is-invalid': pages.invalid && saveClicked }"
        />
        <div class="invalid-feedback" *ngIf="pages.errors">
          <span *ngIf="pages.errors.required">
            Pages is required
          </span>
          <span *ngIf="pages.errors.pattern">
            Pages is Invalid
          </span>
        </div>
      </div>
      <div class="form-group">
        <label>Author</label>
        <input
          type="text"
          name="author"
          [(ngModel)]="book.author"
          class="form-control"
          #author="ngModel"
          required
          [ngClass]="{ 'is-invalid': author.invalid && saveClicked }"
        />
        <div class="invalid-feedback" *ngIf="author.errors && saveClicked">
          <span *ngIf="author.errors.required">
            Author is required
          </span>
        </div>
      </div>
      <div class="form-group">
        <label>Cover Image</label>
        <input type="text" name="coverImage" [(ngModel)]="book.coverImage" class="form-control" />
        <img [src]="book.coverImage" alt="Cover Image" class="img-responsive" />
      </div>
      <div class="d-flex justify-content-between">
        <button class="btn btn-secondary" type="button" (click)="cancelBookEdit()">
          Cancel
        </button>
        <input type="submit" class="btn btn-success" value="Save" />
      </div>
    </form>
  </div>
</div>
