<div class="container-fluid">
  <h3 class="text-center">Library</h3>
  <hr />
  <div class="row">
    <div class="col-4">
      <app-book-list
        [books]="books"
        (bookSelectionChanged)="onBookSelected($event)"
      ></app-book-list>
    </div>
    <div class="col-8" *ngIf="!editMode && selectedBook">
      <app-book-details
        [book]="selectedBook"
        (onReset)="resetBookSelection()"
        (onEdit)="editBook()"
        (onDelete)="deleteBook()"
      ></app-book-details>
    </div>
    <div class="col-8" *ngIf="editMode && selectedBook">
      <app-book-form
        [book]="selectedBook"
        (onSave)="saveBook($event)"
        (onCancel)="cancelEdit()"
      ></app-book-form>
    </div>
  </div>
</div>
