<app-header (loginClicked)="toggleLogin()"></app-header>
<div class="container-fluid">
  <div class="row" *ngIf="!showlogin; else loginSection">
    <div class="col-4">
      <app-book-list (onNewBookAdd)="addNewBook()"></app-book-list>
    </div>
    <div class="col-8" *ngIf="!editMode">
      <app-book-details (onReset)="resetBookSelection()"></app-book-details>
    </div>
    <div class="col-8" *ngIf="editMode">
      <app-book-form (onCancel)="cancelEdit()"></app-book-form>
    </div>
  </div>
  <ng-template #loginSection>
    <app-auth></app-auth>
  </ng-template>
</div>
