/* You can add global styles to this file, and also import other style files */
/* .btn-purpple,
.btn-purpple:active,
.btn-purpple:focus {
  background-color: #43031e;
  border: 1px solid #43031e;
  color: #fff;
}

.btn-purpple:hover {
  background-color: #270111;
  border: 1px solid #270111;
} */
